n8n-migration/autoboard-workflow.json
{
  "name": "AutoBoard - Employee Onboarding",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "autoboard-onboard",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Receive Employee Data",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "autoboard-onboard"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "firstName",
              "value": "={{ $json.body.firstName }}"
            },
            {
              "name": "lastName",
              "value": "={{ $json.body.lastName }}"
            },
            {
              "name": "email",
              "value": "={{ $json.body.email.toLowerCase() }}"
            },
            {
              "name": "jobTitle",
              "value": "={{ $json.body.jobTitle }}"
            },
            {
              "name": "department",
              "value": "={{ $json.body.department }}"
            },
            {
              "name": "usageLocation",
              "value": "={{ $json.body.usageLocation || 'US' }}"
            },
            {
              "name": "assignLicense",
              "value": "={{ $json.body.assignLicense }}"
            },
            {
              "name": "temporaryPassword",
              "value": "={{ $json.body.password || 'Temp' + Math.random().toString(36).slice(-8) + '!A1' }}"
            },
            {
              "name": "displayName",
              "value": "={{ $json.body.firstName + ' ' + $json.body.lastName }}"
            },
            {
              "name": "mailNickname",
              "value": "={{ $json.body.email.split('@')[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-user-data",
      "name": "Set User Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "resource": "user",
        "operation": "create",
        "email": "={{ $json.email }}",
        "firstName": "={{ $json.firstName }}",
        "lastName": "={{ $json.lastName }}",
        "password": "={{ $json.temporaryPassword }}",
        "additionalFields": {
          "changePasswordAtNextLogin": true,
          "organizations": [
            {
              "title": "={{ $json.jobTitle }}",
              "department": "={{ $json.department }}",
              "primary": true
            }
          ]
        }
      },
      "id": "google-create-user",
      "name": "Google - Create User",
      "type": "n8n-nodes-base.googleWorkspace",
      "typeVersion": 1,
      "position": [680, 200],
      "credentials": {
        "googleWorkspaceOAuth2Api": {
          "id": "1",
          "name": "Google Workspace OAuth2"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "user",
        "operation": "create",
        "accountEnabled": true,
        "displayName": "={{ $json.displayName }}",
        "mailNickname": "={{ $json.mailNickname }}",
        "userPrincipalName": "={{ $json.email }}",
        "password": "={{ $json.temporaryPassword }}",
        "additionalFields": {
          "forceChangePasswordNextSignIn": true,
          "jobTitle": "={{ $json.jobTitle }}",
          "department": "={{ $json.department }}",
          "usageLocation": "={{ $json.usageLocation }}",
          "givenName": "={{ $json.firstName }}",
          "surname": "={{ $json.lastName }}"
        }
      },
      "id": "microsoft-create-user",
      "name": "Microsoft - Create User",
      "type": "n8n-nodes-base.microsoft365",
      "typeVersion": 1,
      "position": [680, 400],
      "credentials": {
        "microsoftGraphApi": {
          "id": "2",
          "name": "Microsoft Graph API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.assignLicense }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-license-assignment",
      "name": "Should Assign License?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "url": "https://graph.microsoft.com/v1.0/subscribedSkus",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftGraphApi",
        "options": {}
      },
      "id": "get-subscribed-skus",
      "name": "Get Available SKUs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1120, 300],
      "credentials": {
        "microsoftGraphApi": {
          "id": "2",
          "name": "Microsoft Graph API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Find the SKU ID for Business Standard (or first available SKU)\nconst skus = $input.first().json.value;\nconst targetSku = 'O365_BUSINESS_PREMIUM'; // Microsoft 365 Business Standard\n\nconst sku = skus.find(s => s.skuPartNumber === targetSku) || skus[0];\n\nif (!sku) {\n  throw new Error('No SKUs available');\n}\n\n// Check if licenses are available\nconst available = sku.prepaidUnits.enabled - sku.consumedUnits;\n\nif (available <= 0) {\n  throw new Error(`No available licenses for ${sku.skuPartNumber}`);\n}\n\nreturn {\n  skuId: sku.skuId,\n  skuPartNumber: sku.skuPartNumber,\n  available: available,\n  userId: $('Microsoft - Create User').item.json.id\n};"
      },
      "id": "resolve-sku-id",
      "name": "Resolve SKU ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/users/{{ $json.userId }}/assignLicense",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftGraphApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"addLicenses\": [\n    {\n      \"disabledPlans\": [],\n      \"skuId\": \"{{ $json.skuId }}\"\n    }\n  ],\n  \"removeLicenses\": []\n}",
        "options": {}
      },
      "id": "assign-license",
      "name": "Assign License",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1340, 400],
      "credentials": {
        "microsoftGraphApi": {
          "id": "2",
          "name": "Microsoft Graph API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Merge results from all branches\nconst googleResult = $('Google - Create User').item.json;\nconst microsoftResult = $('Microsoft - Create User').item.json;\nconst licenseResult = $('Assign License').item?.json;\nconst userData = $('Set User Data').item.json;\n\nconst results = {\n  success: true,\n  employee: {\n    email: userData.email,\n    name: userData.displayName,\n    temporaryPassword: userData.temporaryPassword\n  },\n  google: {\n    created: !googleResult.error,\n    error: googleResult.error?.message || null,\n    userId: googleResult.id || null\n  },\n  microsoft: {\n    created: !microsoftResult.error,\n    error: microsoftResult.error?.message || null,\n    userId: microsoftResult.id || null,\n    licenseAssigned: licenseResult ? !licenseResult.error : false,\n    licenseError: licenseResult?.error?.message || null\n  },\n  errors: []\n};\n\n// Collect errors\nif (googleResult.error) {\n  results.errors.push(`Google: ${googleResult.error.message}`);\n}\nif (microsoftResult.error) {\n  results.errors.push(`Microsoft: ${microsoftResult.error.message}`);\n}\nif (licenseResult?.error) {\n  results.errors.push(`License: ${licenseResult.error.message}`);\n}\n\n// Overall success if at least one platform succeeded\nresults.success = results.google.created || results.microsoft.created;\n\nreturn results;"
      },
      "id": "merge-results",
      "name": "Merge Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-success",
      "name": "Was Successful?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1780, 500]
    },
    {
      "parameters": {
        "fromEmail": "admin@yourdomain.com",
        "toEmail": "hr@yourdomain.com",
        "subject": "=New Employee Created: {{ $json.employee.name }}",
        "text": "=Employee onboarding completed:\n\nName: {{ $json.employee.name }}\nEmail: {{ $json.employee.email }}\nTemporary Password: {{ $json.employee.temporaryPassword }}\n\nResults:\n- Google Workspace: {{ $json.google.created ? 'Created' : 'Failed' }}\n- Microsoft 365: {{ $json.microsoft.created ? 'Created' : 'Failed' }}\n- License Assigned: {{ $json.microsoft.licenseAssigned ? 'Yes' : 'No' }}\n\n{{ $json.errors.length > 0 ? 'Errors:\\n' + $json.errors.join('\\n') : 'No errors' }}",
        "options": {}
      },
      "id": "send-notification",
      "name": "Send Success Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [2000, 400],
      "credentials": {
        "smtp": {
          "id": "3",
          "name": "SMTP"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "fromEmail": "admin@yourdomain.com",
        "toEmail": "admin@yourdomain.com",
        "subject": "=FAILED: Employee Onboarding - {{ $json.employee.name }}",
        "text": "=Employee onboarding FAILED:\n\nName: {{ $json.employee.name }}\nEmail: {{ $json.employee.email }}\n\nErrors:\n{{ $json.errors.join('\\n') }}\n\nPlease investigate and retry manually.",
        "options": {}
      },
      "id": "send-error-notification",
      "name": "Send Error Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [2000, 600],
      "credentials": {
        "smtp": {
          "id": "3",
          "name": "SMTP"
        }
      },
      "disabled": true
    }
  ],
  "connections": {
    "Webhook - Receive Employee Data": {
      "main": [
        [
          {
            "node": "Set User Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set User Data": {
      "main": [
        [
          {
            "node": "Google - Create User",
            "type": "main",
            "index": 0
          },
          {
            "node": "Microsoft - Create User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft - Create User": {
      "main": [
        [
          {
            "node": "Should Assign License?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Assign License?": {
      "main": [
        [
          {
            "node": "Get Available SKUs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Resolve SKU ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve SKU ID": {
      "main": [
        [
          {
            "node": "Assign License",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign License": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google - Create User": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Was Successful?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Was Successful?": {
      "main": [
        [
          {
            "node": "Send Success Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-26T00:00:00.000Z",
  "versionId": "1"
}
