n8n-migration/AutoBoard.json
{
  "name": "AutoBoard",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "autoboard-onboard",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -960,
        -528
      ],
      "id": "03801c10-31a8-42d4-8df6-31eaf371627b",
      "name": "Webhook - Receive employee details",
      "webhookId": "YOUR_WEBHOOK_ID"
    },
    {
      "parameters": {
        "jsCode": "// Get results from previous nodes\n\n  // Check if parsing failed\n  const setUserData = $('Set User Data').first();\n  if (!setUserData || !setUserData.json || !setUserData.json.email) {\n    // Parsing failed - return minimal error report\n    return {\n      user: 'PARSING_FAILED',\n      generatedPassword: 'N/A',\n      success: false,\n      googleStatus: 'Not Attempted',\n      microsoftStatus: 'Not Attempted',\n      messages: ['Email parsing failed - could not extract user data from email'],\n      rateLimit: null\n    };\n  }\n\n    const google = $('Google - Create User').first().json;\n    const microsoft = $('Microsoft - Create User').first().json;\n    const license = $('Assign License').first().json;\n\n  // Get the specific password that was generated in the \"Set User Data\" step\n  const userData = $('Set User Data').first().json;\n  const generatedPassword = userData.temporaryPassword;\n\n\n  // Helper to clean up messages (Same as before)\n  const getErrorMessage = (nodeJson, serviceName) => {\n    if (!nodeJson.error) return null;\n    const rawError = JSON.stringify(nodeJson.error).toLowerCase();\n\n    if (rawError.includes('entity already exists') ||\n        rawError.includes('userprincipalname already exists') ||\n        rawError.includes('duplicate')) {\n      return `${serviceName}: User already exists (Skipped creation)`;\n    }\n    if (rawError.includes('password') && (rawError.includes('complexity') || rawError.includes('policy'))) {\n      return `${serviceName}: Password does not meet complexity requirements`;\n    }\n    if (rawError.includes('subscribedskus') || rawError.includes('license')) {\n      return `${serviceName}: No available licenses found`;\n    }\n    return `${serviceName} Error: ${nodeJson.error.message || 'Unknown error'}`;\n  };\n\n  // Build the final status report\n  const statusReport = {\n    user: userData.email,\n    generatedPassword: generatedPassword,\n    success: !google.error && !microsoft.error,\n    googleStatus: google.error ? \"Failed\" : \"Created\",\n    microsoftStatus: microsoft.error ? \"Failed\" : \"Created\",\n    messages: [],\n    // Add rate limit info with user-friendly message\n  };\n\n  // Push clean error messages\n  if (google.error) statusReport.messages.push(getErrorMessage(google, 'Google'));\n  if (microsoft.error) statusReport.messages.push(getErrorMessage(microsoft, 'Microsoft'));\n  if (license && license.error) statusReport.messages.push(getErrorMessage(license, 'Licensing'));\n\n  return statusReport;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        0
      ],
      "id": "35e7e67c-55f7-4d1a-9ae6-20e5b573138f",
      "name": "Merge results",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1120,
        -64
      ],
      "id": "1bd9cdcf-7782-4665-8783-d81e3e5f3922",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "url": "https://graph.microsoft.com/v1.0/subscribedSkus",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftGraphSecurityOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -240,
        80
      ],
      "id": "b521abc1-6930-4b59-a4b7-f2f6fcc0d0c5",
      "name": "Get Available SKUs",
      "credentials": {
        "microsoftGraphSecurityOAuth2Api": {
          "id": "YOUR_MICROSOFT_CREDENTIAL_ID",
          "name": "Microsoft Graph Security account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "firstName": "={{ $('Set User Data').first().json.firstName }}",
        "lastName": "={{ $('Set User Data').first().json.lastName }}",
        "password": "={{ $('Set User Data').first().json.temporaryPassword }}",
        "username": "={{ $('Set User Data').first().json.email.split('@')[0] }}",
        "domain": "company.com",
        "additionalFields": {
          "changePasswordAtNextLogin": true
        }
      },
      "type": "n8n-nodes-base.gSuiteAdmin",
      "typeVersion": 1,
      "position": [
        -688,
        -96
      ],
      "id": "c73f0be9-959c-4a5e-a0d9-cb7a7f50a4fa",
      "name": "Google - Create User",
      "credentials": {
        "gSuiteAdminOAuth2Api": {
          "id": "YOUR_GOOGLE_WORKSPACE_CREDENTIAL_ID",
          "name": "Google Workspace Admin account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d7f19ad3-e3b7-48c2-9cdb-51389744c566",
              "name": "firstName",
              "value": "={{ $json.body.firstName }}",
              "type": "string"
            },
            {
              "id": "1e88e41d-2326-4622-a34e-4ee62882da02",
              "name": "lastName",
              "value": "={{ $json.body.lastName }}",
              "type": "string"
            },
            {
              "id": "329d8cde-8fa5-45d9-82bc-dbd2c466e276",
              "name": "email",
              "value": "={{ $json.body.email.toLowerCase() }}",
              "type": "string"
            },
            {
              "id": "86f15680-c92e-4797-ade2-402084d4c80d",
              "name": "jobTitle",
              "value": "={{ $json.body.jobTitle }}",
              "type": "string"
            },
            {
              "id": "ef22ed1e-2ef3-4f9b-9f65-dd416a7f0465",
              "name": "department",
              "value": "={{ $json.body.department }}",
              "type": "string"
            },
            {
              "id": "a385ed3d-069d-4509-9a30-39711cc6e0b3",
              "name": "usageLocation",
              "value": "={{ $json.body.usageLocation || 'IL' }}",
              "type": "string"
            },
            {
              "id": "7afb9d4d-caed-434a-9c16-4c3cd5236fcc",
              "name": "assignLicense",
              "value": "={{ Boolean($json.body.assignLicense) }}",
              "type": "string"
            },
            {
              "id": "af9d7a7f-315a-400c-986c-b745b53a565d",
              "name": "temporaryPassword",
              "value": "={{ $json.body.password || 'Temp' + Math.random().toString(36).slice(-8) + '!A1' }}",
              "type": "string"
            },
            {
              "id": "953fa6e6-7489-4ecf-b2d3-3f6947fb0962",
              "name": "displayName",
              "value": "={{ $json.body.firstName + ' ' + $json.body.lastName }}",
              "type": "string"
            },
            {
              "id": "f8bd4b43-e7d2-40af-ac2a-d12045b2af77",
              "name": "mailNickname",
              "value": "={{ $json.body.email.split('@')[0] }}",
              "type": "string"
            },
            {
              "id": "743c2392-d9e5-47f1-bf9e-1ce9355bb859",
              "name": "_emailTrigger",
              "value": "={{ $json._emailTrigger || false }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -944,
        0
      ],
      "id": "a0225cf9-283d-4f3c-a11d-553aaaf1cb64",
      "name": "Set User Data"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        784,
        0
      ],
      "id": "de7cdb3d-f405-45ea-ac5a-393056799050",
      "name": "Wait for All Branches",
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "// Get the list of available SKUs from previous node\n  const skus = $input.first().json.value;\n\n  // Define which license you want to assign\n  // Change this to match YOUR organization's license!\n  const targetSku = 'O365_BUSINESS_PREMIUM';\n\n  // Find the SKU that matches our target\n  const sku = skus.find(s => s.skuPartNumber === targetSku);\n\n  // If SKU not found, throw error\n  if (!sku) {\n    throw new Error(`License '${targetSku}' not found in your organization`);\n  }\n\n  // Check if licenses are available\n  const available = sku.prepaidUnits.enabled - sku.consumedUnits;\n\n  if (available <= 0) {\n    throw new Error(`No available licenses for ${sku.skuPartNumber}. You have\n  ${sku.consumedUnits}/${sku.prepaidUnits.enabled} licenses in use.`);\n  }\n\n  // Get the user ID from the workflow execution data\n  // The Microsoft user was created earlier in the workflow\n  const microsoftUserData = $node[\"Microsoft - Create User\"].json;\n  const userId = microsoftUserData.id;\n\n  // Return the SKU ID and user ID for the next node\n  return {\n    skuId: sku.skuId,\n    skuPartNumber: sku.skuPartNumber,\n    available: available,\n    userId: userId\n  };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        80
      ],
      "id": "1d9c5d8a-6806-4336-884a-df09a3b39ba4",
      "name": "Resolve SKU ID",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ \"https://graph.microsoft.com/v1.0/users/\" + $json.userId + \"/assignLicense\" }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftGraphSecurityOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"addLicenses\": [\n    {\n      \"disabledPlans\": [],\n      \"skuId\": \"{{ $json.skuId }}\"\n    }\n  ],\n  \"removeLicenses\": []\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        192,
        80
      ],
      "id": "00b69956-fcda-449d-bc01-60878302978e",
      "name": "Assign License",
      "credentials": {
        "microsoftGraphSecurityOAuth2Api": {
          "id": "YOUR_MICROSOFT_CREDENTIAL_ID",
          "name": "Microsoft Graph Security account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.microsoft.com/v1.0/users",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftGraphSecurityOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"accountEnabled\": true,\n    \"displayName\": \"{{ $('Set User Data').first().json.displayName }}\",\n    \"mailNickname\": \"{{ $('Set User Data').first().json.mailNickname }}\",\n    \"userPrincipalName\": \"{{ $('Set User Data').first().json.email }}\",\n    \"passwordProfile\": {\n      \"forceChangePasswordNextSignIn\": true,\n      \"password\": \"{{ $('Set User Data').first().json.temporaryPassword }}\"\n    },\n    \"givenName\": \"{{ $('Set User Data').first().json.firstName }}\",\n    \"surname\": \"{{ $('Set User Data').first().json.lastName }}\",\n    \"jobTitle\": \"{{ $('Set User Data').first().json.jobTitle }}\",\n    \"department\": \"{{ $('Set User Data').first().json.department }}\",\n    \"usageLocation\": \"{{ $('Set User Data').first().json.usageLocation }}\"\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -688,
        96
      ],
      "id": "185e6947-b31a-411a-91b3-a6b19c3752ff",
      "name": "Microsoft - Create User",
      "credentials": {
        "microsoftGraphSecurityOAuth2Api": {
          "id": "YOUR_MICROSOFT_CREDENTIAL_ID",
          "name": "Microsoft Graph Security account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fb522284-a369-4a69-9b1c-502f27c1465e",
              "leftValue": "={{ $('Set User Data').first().json.usageLocation }}",
              "rightValue": "IL",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        368,
        -96
      ],
      "id": "b706b42f-5e59-49b8-a008-677c3f5a0f50",
      "name": "Israel?"
    },
    {
      "parameters": {
        "operation": "addToGroup",
        "userId": {
          "__rl": true,
          "value": "={{ $('Set User Data').first().json.email }}",
          "mode": "userEmail"
        },
        "groupId": {
          "__rl": true,
          "value": "YOUR_ISRAEL_GROUP_ID",
          "mode": "list",
          "cachedResultName": "Israel Group"
        }
      },
      "type": "n8n-nodes-base.gSuiteAdmin",
      "typeVersion": 1,
      "position": [
        544,
        -96
      ],
      "id": "8d46ec38-122c-4bd5-a198-68442155b84d",
      "name": "Add to IL",
      "credentials": {
        "gSuiteAdminOAuth2Api": {
          "id": "YOUR_GOOGLE_WORKSPACE_CREDENTIAL_ID",
          "name": "Google Workspace Admin account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "AutoBoard Audit Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12daQhNDyacTs3CDr74Tsi66Tp8eoJJvI8ged-zfmEvU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12daQhNDyacTs3CDr74Tsi66Tp8eoJJvI8ged-zfmEvU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ new Date().toLocaleString('en-IL', { timeZone: 'Asia/Jerusalem' }) }}",
            "User Email": "={{ $('Merge results').first().json.user }}",
            "Success": "={{ $('Merge results').first().json.success }}",
            "Google Status": "={{ $('Merge results').first().json.googleStatus }}",
            "Microsoft Status": "={{ $('Merge results').first().json.microsoftStatus }}",
            "License Assigned": "={{ $('Assign License').first().json ? 'Yes' : 'No' }}",
            "Temporary Password": "={{ $('Merge results').first().json.generatedPassword }}",
            "Error Messages": "={{ $('Merge results').first().json.messages.join('; ') }}",
            "Triggered By": "={{ $('Set User Data').first().json._emailTrigger ? 'Email' : 'Webhook' }}"
          },
          "matchingColumns": [
            "Timestamp"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "User Email",
              "displayName": "User Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Success",
              "displayName": "Success",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Google Status",
              "displayName": "Google Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Microsoft Status",
              "displayName": "Microsoft Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "License Assigned",
              "displayName": "License Assigned",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Temporary Password",
              "displayName": "Temporary Password",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Messages",
              "displayName": "Error Messages",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Triggered By",
              "displayName": "Triggered By",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1120,
        -240
      ],
      "id": "ab3df5b2-8f98-49b2-ad34-29e7f6a74ea7",
      "name": "Append or update row in sheet",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Get email data from Gmail Trigger\nconst emailData = $input.first().json;\n\n// Gmail Trigger returns capitalized field names\nlet emailBodyHtml = emailData.html || emailData.Html || '';\nlet emailBodyText = emailData.text || emailData.textPlain || emailData.Text || emailData.TextPlain ||\n  emailData.snippet || emailData.Snippet || '';\nconst emailSubject = emailData.subject || emailData.Subject || '';\nconst senderEmail = emailData.from || emailData.From || '';\n\n// Preprocess: Convert HTML breaks to newlines if using HTML\nif (emailBodyHtml && emailBodyText.length < 500) {\n  // If plain text is short, use HTML and convert to plain text\n  emailBodyText = emailBodyHtml\n    .replace(/<br\\s*\\/?>/gi, '\\n')\n    .replace(/<\\/div>/gi, '\\n')\n    .replace(/<\\/p>/gi, '\\n')\n    .replace(/<[^>]+>/g, '')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&#39;/g, \"'\")\n    .replace(/&quot;/g, '\"')\n    .replace(/&amp;/g, '&');\n}\n\n// DEBUG: Log what we receive\nconsole.log('=== EMAIL PARSING DEBUG ===');\nconsole.log('Email has full text:', !!(emailData.text || emailData.textPlain));\nconsole.log('Email text length:', emailBodyText.length);\nconsole.log('First 500 chars:', emailBodyText.substring(0, 500));\nconsole.log('Manager section:', emailBodyText.substring(emailBodyText.indexOf('Manager'), emailBodyText.indexOf('Manager') + 100));\n\n// Helper: Extract text after a label (IMPROVED to handle concatenated text)\nfunction extractField(text, label) {\n  const cleanLabel = label.replace(/[*_]/g, '');\n\n  // First try: Label with colon/dash on same line (most common format)\n  // Use word boundary to avoid matching \"Manager\" inside \"Account Manager\"\n  let regex = new RegExp('\\\\b' + cleanLabel + '\\\\s*[:\\\\-]\\\\s*([^\\\\n\\\\r]+)', 'i');\n  let match = text.match(regex);\n\n  if (match) {\n    let value = match[1].trim();\n    // Clean up HTML tags, markdown formatting (asterisks)\n    value = value.replace(/<[^>]+>/g, '').replace(/\\*+/g, '').trim();\n    // Collapse all whitespace (including newlines, tabs, multiple spaces) into single spaces\n    value = value.replace(/\\s+/g, ' ').trim();\n    // Fix broken words: single capital letter followed by lowercase letters (e.g., \"V ictoria\" -> \"Victoria\")\n    value = value.replace(/\\b([A-Z])\\s+([a-z])/g, '$1$2');\n    console.log(`Found ${label} (inline format):`, value);\n    return value;\n  }\n\n  // Second try: Label on one line, value on next line (old format with asterisks)\n  regex = new RegExp('\\\\*?' + cleanLabel + '\\\\*?\\\\s*\\\\n\\\\s*([^\\\\n\\\\r*]+)', 'i');\n  match = text.match(regex);\n\n  if (match) {\n    let value = match[1].trim();\n    // Clean up HTML tags, markdown formatting (asterisks), and extra whitespace\n    value = value.replace(/<[^>]+>/g, '').replace(/\\*+/g, '').replace(/\\s+/g, ' ').trim();\n    // Fix broken words: single capital letter followed by lowercase letters (e.g., \"V ictoria\" -> \"Victoria\")\n    value = value.replace(/\\b([A-Z])\\s+([a-z])/g, '$1$2');\n    console.log(`Found ${label} (newline format):`, value);\n    return value;\n  }\n\n  console.log(`Could not find ${label}`);\n  return null;\n}\n\n// === EXTRACT FIELDS FROM EMAIL BODY ===\nlet fullName = extractField(emailBodyText, 'Full Legal Name');\nlet givenName = extractField(emailBodyText, 'Given Name');\nlet surname = extractField(emailBodyText, 'Surname');\nlet preferredName = extractField(emailBodyText, 'Preferred Name');\nconst personalEmail = extractField(emailBodyText, 'Personal Email Address');\nconst manager = extractField(emailBodyText, 'Manager');\nlet position = extractField(emailBodyText, 'Position');\nlet department = extractField(emailBodyText, 'Department');\nlet country = extractField(emailBodyText, 'Country');\n\nconsole.log('Extracted department:', department);\nconsole.log('Extracted position:', position);\n\n// === EXTRACT FROM SUBJECT LINE (FALLBACK) ===\n// Parse subject - handles both formats:\n// \"New Hire Onboarding: Name - Position - Country\"\n// \"New Hire Onboarding: Name - Position, Country\"\nlet subjectMatch = emailSubject.match(/New Hire Onboarding:\\s*([^-]+)\\s*-\\s*([^-,]+)\\s*-\\s*(.+)/i);\nif (!subjectMatch) {\n  // Try format with comma: \"Name - Position, Country\"\n  subjectMatch = emailSubject.match(/New Hire Onboarding:\\s*([^-]+)\\s*-\\s*(.+)/i);\n  if (subjectMatch) {\n    const namePart = subjectMatch[1].trim();\n    const positionCountry = subjectMatch[2].trim();\n\n    // Split position and country by comma if present\n    const commaIndex = positionCountry.indexOf(',');\n    if (commaIndex > 0) {\n      const subjectPosition = positionCountry.slice(0, commaIndex).trim();\n      const subjectCountry = positionCountry.slice(commaIndex + 1).trim();\n      subjectMatch = [subjectMatch[0], namePart, subjectPosition, subjectCountry];\n    } else {\n      // No comma, treat whole thing as position\n      subjectMatch = [subjectMatch[0], namePart, positionCountry, ''];\n    }\n  }\n}\n\n// Use subject data as fallback\nif (subjectMatch) {\n  if (!fullName && !givenName) fullName = subjectMatch[1].trim();\n  if (!position) position = subjectMatch[2].trim();\n  if (!country && subjectMatch[3]) country = subjectMatch[3].trim();\n}\n\n// === VALIDATE WE HAVE REQUIRED DATA ===\nif (!fullName && !givenName) {\n  throw new Error('Could not extract name from email');\n}\n\n// === PARSE NAME INTO FIRST AND LAST ===\nlet firstName, lastName;\n\n// First, determine the base last name from Full Legal Name or Given Name/Surname\nlet baseLegalFirstName = '';\nlet baseLegalLastName = '';\n\nif (givenName && surname) {\n  // Separate fields provided\n  baseLegalFirstName = givenName;\n  baseLegalLastName = surname;\n} else if (fullName) {\n  // Parse Full Legal Name\n  const words = fullName.trim().split(/\\s+/);\n\n  if (words.length === 1) {\n    baseLegalFirstName = words[0];\n    baseLegalLastName = words[0];\n  } else if (words.length === 2) {\n    baseLegalFirstName = words[0];\n    baseLegalLastName = words[1];\n  } else if (words.length === 3) {\n    // 3 words - check for compound surnames\n    const secondToLast = words[words.length - 2].toLowerCase();\n\n    if (secondToLast === 'ben' || secondToLast === 'bat') {\n      // Hebrew patronymic: \"Ofek Ben Shabat\" -> First: \"Ofek\", Last: \"Ben Shabat\"\n      baseLegalFirstName = words[0];\n      baseLegalLastName = words.slice(1).join(' ');\n    }\n    else if (['de', 'del', 'da', 'do', 'dos', 'das', 'di', 'van', 'von', 'y'].includes(secondToLast)) {\n      // Surname particles: \"Juan de la Cruz\" -> First: \"Juan\", Last: \"de la Cruz\"\n      baseLegalFirstName = words[0];\n      baseLegalLastName = words.slice(1).join(' ');\n    }\n    else {\n      // Default for 3 words: First + Middle + Last (only last word is surname)\n      // \"Ana Lia Faustini\" -> First: \"Ana Lia\", Last: \"Faustini\"\n      baseLegalFirstName = words.slice(0, -1).join(' ');\n      baseLegalLastName = words[words.length - 1];\n    }\n  } else {\n    // 4+ words - check for compound surnames\n    const secondToLast = words[words.length - 2].toLowerCase();\n\n    if (secondToLast === 'ben' || secondToLast === 'bat') {\n      // Hebrew patronymic: \"Ofek Ben Shabat\" -> First: \"Ofek\", Last: \"Ben Shabat\"\n      baseLegalFirstName = words.slice(0, -2).join(' ');\n      baseLegalLastName = words.slice(-2).join(' ');\n    }\n    else if (['de', 'del', 'da', 'do', 'dos', 'das', 'di', 'van', 'von', 'y'].includes(secondToLast)) {\n      // Surname particles: \"Juan Carlos de la Cruz\" -> First: \"Juan Carlos\", Last: \"de la Cruz\"\n      baseLegalFirstName = words.slice(0, -3).join(' ');\n      baseLegalLastName = words.slice(-3).join(' ');\n    }\n    else {\n      // Default for 4+ words: Last 2 words as surname (Spanish/Portuguese double surnames)\n      baseLegalFirstName = words.slice(0, -2).join(' ');\n      baseLegalLastName = words.slice(-2).join(' ');\n    }\n  }\n}\n\n// Now apply preferred name logic\nif (preferredName && preferredName.trim() !== '') {\n  // Preferred name exists - check if it includes last name\n  const preferredWords = preferredName.trim().split(/\\s+/);\n\n  if (preferredWords.length === 1) {\n    // Single word preferred name - use it as first name, keep legal last name\n    firstName = preferredName;\n    lastName = baseLegalLastName;\n  } else {\n    // Multi-word preferred name - might include last name\n    // Check if the last word matches the legal last name\n    const preferredLastWord = preferredWords[preferredWords.length - 1];\n\n    if (preferredLastWord.toLowerCase() === baseLegalLastName.toLowerCase()) {\n      // Preferred name includes the last name\n      firstName = preferredWords.slice(0, -1).join(' ');\n      lastName = preferredLastWord;\n    } else {\n      // Preferred name doesn't include last name - treat whole thing as first name\n      firstName = preferredName;\n      lastName = baseLegalLastName;\n    }\n  }\n} else {\n  // No preferred name - use legal names\n  firstName = baseLegalFirstName;\n  lastName = baseLegalLastName;\n}\n\n// === GENERATE EMAIL ADDRESSES ===\nconst normalizeForEmail = (name) => {\n  if (!name) return '';\n  return name\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase()\n    .replace(/[^a-z0-9]/g, '');\n};\n\n// Use only the FIRST WORD of firstName for email generation\n// This handles cases like \"Victoria Briones\" -> \"victoria@company.com\" not \"victoriabriones@company.com\"\nconst firstNameFirstWord = firstName.trim().split(/\\s+/)[0];\nconst primaryEmail = normalizeForEmail(firstNameFirstWord) + '@company.com';\nconst lastInitial = normalizeForEmail(lastName).charAt(0);\nconst alternativeEmail = lastInitial ?\n  normalizeForEmail(firstNameFirstWord) + '.' + lastInitial + '@company.com' :\n  normalizeForEmail(firstNameFirstWord) + '@company.com';\n\n// === MAP COUNTRY TO USAGE LOCATION ===\nconst countryMap = {\n  'afghanistan': 'AF', 'af': 'AF', 'albania': 'AL', 'al': 'AL', 'algeria': 'DZ', 'dz': 'DZ',\n  'andorra': 'AD', 'ad': 'AD', 'angola': 'AO', 'ao': 'AO', 'argentina': 'AR', 'ar': 'AR',\n  'armenia': 'AM', 'am': 'AM', 'australia': 'AU', 'au': 'AU', 'austria': 'AT', 'at': 'AT',\n  'azerbaijan': 'AZ', 'az': 'AZ', 'bahrain': 'BH', 'bh': 'BH', 'bangladesh': 'BD', 'bd': 'BD',\n  'belarus': 'BY', 'by': 'BY', 'belgium': 'BE', 'be': 'BE', 'belize': 'BZ', 'bz': 'BZ',\n  'benin': 'BJ', 'bj': 'BJ', 'bhutan': 'BT', 'bt': 'BT', 'bolivia': 'BO', 'bo': 'BO',\n  'bosnia and herzegovina': 'BA', 'bosnia': 'BA', 'ba': 'BA', 'botswana': 'BW', 'bw': 'BW',\n  'brazil': 'BR', 'br': 'BR', 'brunei': 'BN', 'bn': 'BN', 'bulgaria': 'BG', 'bg': 'BG',\n  'burkina faso': 'BF', 'bf': 'BF', 'burundi': 'BI', 'bi': 'BI', 'cambodia': 'KH', 'kh': 'KH',\n  'cameroon': 'CM', 'cm': 'CM', 'canada': 'CA', 'ca': 'CA', 'cape verde': 'CV', 'cv': 'CV',\n  'central african republic': 'CF', 'cf': 'CF', 'chad': 'TD', 'td': 'TD', 'chile': 'CL', 'cl': 'CL',\n  'china': 'CN', 'cn': 'CN', 'colombia': 'CO', 'co': 'CO', 'comoros': 'KM', 'km': 'KM',\n  'congo': 'CG', 'cg': 'CG', 'drc': 'CD', 'cd': 'CD', 'costa rica': 'CR', 'cr': 'CR',\n  'croatia': 'HR', 'hr': 'HR', 'cuba': 'CU', 'cu': 'CU', 'cyprus': 'CY', 'cy': 'CY',\n  'czech republic': 'CZ', 'czechia': 'CZ', 'cz': 'CZ', 'denmark': 'DK', 'dk': 'DK',\n  'djibouti': 'DJ', 'dj': 'DJ', 'dominican republic': 'DO', 'do': 'DO', 'ecuador': 'EC', 'ec': 'EC',\n  'egypt': 'EG', 'eg': 'EG', 'el salvador': 'SV', 'salvador': 'SV', 'sv': 'SV',\n  'eritrea': 'ER', 'er': 'ER', 'estonia': 'EE', 'ee': 'EE', 'ethiopia': 'ET', 'et': 'ET',\n  'fiji': 'FJ', 'fj': 'FJ', 'finland': 'FI', 'fi': 'FI', 'france': 'FR', 'fr': 'FR',\n  'gabon': 'GA', 'ga': 'GA', 'gambia': 'GM', 'gm': 'GM', 'georgia': 'GE', 'ge': 'GE',\n  'germany': 'DE', 'de': 'DE', 'ghana': 'GH', 'gh': 'GH', 'greece': 'GR', 'gr': 'GR',\n  'guatemala': 'GT', 'gt': 'GT', 'guinea': 'GN', 'gn': 'GN', 'guinea-bissau': 'GW', 'gw': 'GW',\n  'guyana': 'GY', 'gy': 'GY', 'haiti': 'HT', 'ht': 'HT', 'honduras': 'HN', 'hn': 'HN',\n  'hong kong': 'HK', 'hk': 'HK', 'hungary': 'HU', 'hu': 'HU', 'iceland': 'IS', 'is': 'IS',\n  'india': 'IN', 'in': 'IN', 'indonesia': 'ID', 'id': 'ID', 'iran': 'IR', 'ir': 'IR',\n  'iraq': 'IQ', 'iq': 'IQ', 'ireland': 'IE', 'ie': 'IE', 'israel': 'IL', 'il': 'IL',\n  'italy': 'IT', 'it': 'IT', 'jamaica': 'JM', 'jm': 'JM', 'japan': 'JP', 'jp': 'JP',\n  'jordan': 'JO', 'jo': 'JO', 'kazakhstan': 'KZ', 'kz': 'KZ', 'kenya': 'KE', 'ke': 'KE',\n  'north korea': 'KP', 'kp': 'KP', 'south korea': 'KR', 'korea': 'KR', 'kr': 'KR',\n  'kosovo': 'XK', 'xk': 'XK', 'kuwait': 'KW', 'kw': 'KW', 'kyrgyzstan': 'KG', 'kg': 'KG',\n  'laos': 'LA', 'la': 'LA', 'latvia': 'LV', 'lv': 'LV', 'lebanon': 'LB', 'lb': 'LB',\n  'lesotho': 'LS', 'ls': 'LS', 'liberia': 'LR', 'lr': 'LR', 'libya': 'LY', 'ly': 'LY',\n  'liechtenstein': 'LI', 'li': 'LI', 'lithuania': 'LT', 'lt': 'LT', 'luxembourg': 'LU', 'lu': 'LU',\n  'madagascar': 'MG', 'mg': 'MG', 'malawi': 'MW', 'mw': 'MW', 'malaysia': 'MY', 'my': 'MY',\n  'maldives': 'MV', 'mv': 'MV', 'mali': 'ML', 'ml': 'ML', 'malta': 'MT', 'mt': 'MT',\n  'mauritania': 'MR', 'mr': 'MR', 'mauritius': 'MU', 'mu': 'MU', 'mexico': 'MX', 'mx': 'MX',\n  'micronesia': 'FM', 'fm': 'FM', 'moldova': 'MD', 'md': 'MD', 'monaco': 'MC', 'mc': 'MC',\n  'mongolia': 'MN', 'mn': 'MN', 'montenegro': 'ME', 'me': 'ME', 'morocco': 'MA', 'ma': 'MA',\n  'mozambique': 'MZ', 'mz': 'MZ', 'myanmar': 'MM', 'burma': 'MM', 'mm': 'MM',\n  'namibia': 'NA', 'na': 'NA', 'nauru': 'NR', 'nr': 'NR', 'nepal': 'NP', 'np': 'NP',\n  'netherlands': 'NL', 'nl': 'NL', 'new zealand': 'NZ', 'nz': 'NZ', 'nicaragua': 'NI', 'ni': 'NI',\n  'niger': 'NE', 'ne': 'NE', 'nigeria': 'NG', 'ng': 'NG', 'north macedonia': 'MK', 'macedonia': 'MK', 'mk': 'MK',\n  'norway': 'NO', 'no': 'NO', 'oman': 'OM', 'om': 'OM', 'pakistan': 'PK', 'pk': 'PK',\n  'palau': 'PW', 'pw': 'PW', 'palestine': 'PS', 'ps': 'PS', 'panama': 'PA', 'pa': 'PA',\n  'papua new guinea': 'PG', 'png': 'PG', 'pg': 'PG', 'paraguay': 'PY', 'py': 'PY',\n  'peru': 'PE', 'pe': 'PE', 'philippines': 'PH', 'ph': 'PH', 'poland': 'PL', 'pl': 'PL',\n  'portugal': 'PT', 'pt': 'PT', 'qatar': 'QA', 'qa': 'QA', 'romania': 'RO', 'ro': 'RO',\n  'russia': 'RU', 'russian federation': 'RU', 'ru': 'RU', 'rwanda': 'RW', 'rw': 'RW',\n  'samoa': 'WS', 'ws': 'WS', 'san marino': 'SM', 'sm': 'SM', 'saudi arabia': 'SA', 'sa': 'SA',\n  'senegal': 'SN', 'sn': 'SN', 'serbia': 'RS', 'rs': 'RS', 'seychelles': 'SC', 'sc': 'SC',\n  'sierra leone': 'SL', 'sl': 'SL', 'singapore': 'SG', 'sg': 'SG', 'slovakia': 'SK', 'sk': 'SK',\n  'slovenia': 'SI', 'si': 'SI', 'solomon islands': 'SB', 'sb': 'SB', 'somalia': 'SO', 'so': 'SO',\n  'south africa': 'ZA', 'za': 'ZA', 'south sudan': 'SS', 'ss': 'SS', 'spain': 'ES', 'es': 'ES',\n  'sri lanka': 'LK', 'lk': 'LK', 'sudan': 'SD', 'sd': 'SD', 'suriname': 'SR', 'sr': 'SR',\n  'sweden': 'SE', 'se': 'SE', 'switzerland': 'CH', 'ch': 'CH', 'syria': 'SY', 'sy': 'SY',\n  'taiwan': 'TW', 'tw': 'TW', 'tajikistan': 'TJ', 'tj': 'TJ', 'tanzania': 'TZ', 'tz': 'TZ',\n  'thailand': 'TH', 'th': 'TH', 'timor-leste': 'TL', 'east timor': 'TL', 'tl': 'TL',\n  'togo': 'TG', 'tg': 'TG', 'tonga': 'TO', 'to': 'TO', 'trinidad and tobago': 'TT', 'trinidad': 'TT', 'tt': 'TT',\n  'tunisia': 'TN', 'tn': 'TN', 'turkey': 'TR', 'tr': 'TR', 'turkmenistan': 'TM', 'tm': 'TM',\n  'tuvalu': 'TV', 'tv': 'TV', 'uganda': 'UG', 'ug': 'UG', 'ukraine': 'UA', 'ua': 'UA',\n  'united arab emirates': 'AE', 'uae': 'AE', 'ae': 'AE',\n  'united kingdom': 'GB', 'uk': 'GB', 'england': 'GB', 'scotland': 'GB', 'wales': 'GB', 'gb': 'GB',\n  'united states': 'US', 'usa': 'US', 'us': 'US', 'uruguay': 'UY', 'uy': 'UY',\n  'uzbekistan': 'UZ', 'uz': 'UZ', 'vanuatu': 'VU', 'vu': 'VU',\n  'vatican city': 'VA', 'vatican': 'VA', 'va': 'VA', 'venezuela': 'VE', 've': 'VE',\n  'vietnam': 'VN', 'vn': 'VN', 'yemen': 'YE', 'ye': 'YE', 'zambia': 'ZM', 'zm': 'ZM',\n  'zimbabwe': 'ZW', 'zw': 'ZW'\n};\n\nlet usageLocation = 'US';\nif (country) {\n  const countryKey = country.trim().toLowerCase();\n  usageLocation = countryMap[countryKey] || 'US';\n}\n\n// === GENERATE PASSWORD ===\nconst password = 'Temp' + Math.random().toString(36).slice(-8) + '!A1';\n\n// === BUILD FULL NAME ===\nconst finalFullName = firstName + ' ' + lastName;\n\nconsole.log('=== FINAL PARSED RESULT ===');\nconsole.log('Name:', finalFullName);\nconsole.log('Department:', department || 'General (defaulted)');\nconsole.log('Position:', position || 'Employee (defaulted)');\nconsole.log('Country/Location:', country, '/', usageLocation);\n\n// === RETURN PARSED DATA ===\nreturn [{\n  json: {\n    fullName: finalFullName,\n    firstName,\n    lastName,\n    personalEmail,\n    manager,\n    position: position || 'Employee',\n    department: department || 'General',\n    usageLocation,\n    country,\n    primaryEmail,\n    lastInitial,\n    alternativeEmail,\n    password,\n    _emailTrigger: true,\n    _senderEmail: senderEmail,\n    _originalSubject: emailSubject,\n    _preferredName: preferredName,\n    _givenName: baseLegalFirstName,\n    _surname: baseLegalLastName\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -736,
        -320
      ],
      "id": "b4a8dce9-e92b-4a0d-aebd-f86512aae40e",
      "name": "Parse HR Email",
      "notesInFlow": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const parsed = $('Parse HR Email').first().json;\n  const checkResult = $('Check if Email Exists').first().json;\n\n  let finalEmail = parsed.primaryEmail;\n  let emailStatus = 'primary';\n\n  // If primary exists, use alternative\n  const primaryExists = checkResult && !checkResult.error && checkResult.primaryEmail;\n  if (primaryExists) {\n    if (parsed.alternativeEmail) {\n      finalEmail = parsed.alternativeEmail;\n      emailStatus = 'alternative';\n    } else {\n      throw new Error(`Email ${parsed.primaryEmail} exists and no last name for alternative. Manual intervention needed for\n   ${parsed.fullName}`);\n    }\n  }\n\n  return [{\n    json: {\n      body: {\n        firstName: parsed.firstName,\n        lastName: parsed.lastName,\n        email: finalEmail,\n        jobTitle: parsed.position,\n        department: parsed.department,\n        usageLocation: parsed.usageLocation,\n        assignLicense: true,\n        password: parsed.password\n      },\n      _emailTrigger: true,\n      _senderEmail: parsed._senderEmail,\n      _originalSubject: parsed._originalSubject,\n      _preferredName: parsed._preferredName,\n      _personalEmail: parsed.personalEmail,\n      _manager: parsed.manager,\n      _position: parsed.position,\n      _fullName: parsed.fullName,\n      _emailStatus: emailStatus,\n      _primaryEmailTried: parsed.primaryEmail\n    }\n  }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        -320
      ],
      "id": "717483c8-dfc3-46b2-ac9e-8054440b7083",
      "name": "Generate a unique email",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "userId": {
          "__rl": true,
          "value": "={{ $json.primaryEmail }}",
          "mode": "userEmail"
        }
      },
      "type": "n8n-nodes-base.gSuiteAdmin",
      "typeVersion": 1,
      "position": [
        -512,
        -320
      ],
      "id": "8eb0d6df-ef0f-43d3-946e-7f3a6af7ffa7",
      "name": "Check if Email Exists",
      "credentials": {
        "gSuiteAdminOAuth2Api": {
          "id": "YOUR_GOOGLE_WORKSPACE_CREDENTIAL_ID",
          "name": "Google Workspace Admin account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sendTo": "admin@company.com",
        "subject": "=Autoboard - {{ $('Set User Data').first().json.email }} - {{ $('Merge results').first().json.success ? 'Success' :   'Partial Failure' }}",
        "message": "=<h2>AutoBoard User Creation Report</h2>\n\n  <p><strong>User Email:</strong> {{ $('Set User Data').first().json.email }}</p>\n  <p><strong>Full Name:</strong> {{ $('Set User Data').first().json.displayName }}</p>\n  <p><strong>Job Title:</strong> {{ $('Set User Data').first().json.jobTitle }}</p>\n  <p><strong>Department:</strong> {{ $('Set User Data').first().json.department }}</p>\n  <p><strong>Location:</strong> {{ $('Set User Data').first().json.usageLocation }}</p>\n\n  <h3>Account Status</h3>\n  <ul>\n    <li><strong>Google Workspace:</strong> {{ $('Merge results').first().json.googleStatus }}</li>\n    <li><strong>Microsoft 365:</strong> {{ $('Merge results').first().json.microsoftStatus }}</li>\n    <li><strong>Overall Success:</strong> {{ $('Merge results').first().json.success ? '✅ Yes' : '❌ No' }}</li>\n  </ul>\n\n  <h3>Credentials</h3>\n  <p><strong>Temporary Password:</strong> <code>{{ $('Merge results').first().json.generatedPassword }}</code></p>\n  <p><em>User must change password on first login</em></p>\n\n  <h3>Messages</h3>\n  <p>{{ $('Merge results').first().json.messages.join('; ') || 'None' }}</p>\n\n  <h3>Rate Limit Status</h3>\n  <p>{{ $('Merge results').first().json.rateLimit.message || 'No rate limit info available' }}</p>\n\n  <hr>\n  <p><small>Triggered by: {{ $('Set User Data').first().json._emailTrigger ? 'Email' : 'Webhook' }}</small></p>\n  <p><small>Timestamp: {{ new Date().toISOString() }}</small></p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1120,
        80
      ],
      "id": "1bb4bf8a-f560-4346-9134-36c698846542",
      "name": "Send a message",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0ea54209-6374-45e7-9866-d961c3b971c2",
              "leftValue": "={{ $node[\"Set User Data\"].json.assignLicense }}",
              "rightValue": "=true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -464,
        96
      ],
      "id": "b4d511b8-0898-4a6c-be93-ec8626708993",
      "name": "License"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3c523c3f-6a97-4477-800e-0c0117a55204",
              "leftValue": "={{ $('Set User Data').item.json.department }}",
              "rightValue": "Production",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -16,
        -96
      ],
      "id": "c3833887-6ccd-44dc-90a7-9a2e15fc08be",
      "name": "Production"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Email from Galit or Omer').first().json.id }}",
        "message": "=\n\nGoogle and Microsoft:\n<br>\nUsername: {{ $json.user }}\n<br>\nPassword: {{ $json.generatedPassword }}\n<br><br>\nFurther permissions will be given upon request\n<br><br>\nThis user was automatically created by IT Admin's AutoBoard\n<br><br>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1520,
        208
      ],
      "id": "d1b0aa2e-a5be-47ab-95f1-362a02377d6d",
      "name": "Reply to a message",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7e6293e7-63a3-4a53-8824-5cdaa8256aec",
              "leftValue": "={{ $('Set User Data').first().json._emailTrigger ? 'Email' : 'Webhook' }}",
              "rightValue": "Email",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1120,
        224
      ],
      "id": "19f0aaf0-772f-41d5-b8a1-49f880814565",
      "name": "Triggered by Email"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f724e46c-ec9a-4826-9d21-9c3742b0b4c7",
              "leftValue": "={{ $('Set User Data').item.json.jobTitle }}",
              "rightValue": "SDR",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -464,
        -96
      ],
      "id": "624d04b3-7190-419a-ac79-718ebbb40c35",
      "name": "SDR?"
    },
    {
      "parameters": {
        "operation": "addToGroup",
        "userId": {
          "__rl": true,
          "mode": "userEmail",
          "value": "={{ $('Google - Create User').first().json.primaryEmail }}"
        },
        "groupId": {
          "__rl": true,
          "value": "YOUR_SDR_GROUP_ID",
          "mode": "list",
          "cachedResultName": "SDR Group"
        }
      },
      "type": "n8n-nodes-base.gSuiteAdmin",
      "typeVersion": 1,
      "position": [
        -240,
        -96
      ],
      "id": "8a51d78f-c888-4cc5-902c-9ba7b1be958f",
      "name": "Add user to SDR Group",
      "credentials": {
        "gSuiteAdminOAuth2Api": {
          "id": "YOUR_GOOGLE_WORKSPACE_CREDENTIAL_ID",
          "name": "Google Workspace Admin account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addToGroup",
        "userId": {
          "__rl": true,
          "value": "={{ $('Google - Create User').first().json.primaryEmail }}",
          "mode": "userEmail"
        },
        "groupId": {
          "__rl": true,
          "value": "YOUR_PRODUCTION_GROUP_ID",
          "mode": "list",
          "cachedResultName": "Production Group"
        }
      },
      "type": "n8n-nodes-base.gSuiteAdmin",
      "typeVersion": 1,
      "position": [
        192,
        -96
      ],
      "id": "4e1b4be6-71e5-4e02-aa9d-fc42393c6515",
      "name": "Add user to Production group",
      "credentials": {
        "gSuiteAdminOAuth2Api": {
          "id": "YOUR_GOOGLE_WORKSPACE_CREDENTIAL_ID",
          "name": "Google Workspace Admin account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "subject:(New Hire Onboarding) from:(hr@company.com OR hr@company.com OR hr@company.com OR hr@company.com) -{Re:}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -960,
        -320
      ],
      "id": "453ee6ff-fb67-4159-9ddc-92966e371fb1",
      "name": "Email from Galit or Omer",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Webhook - Receive employee details": {
      "main": [
        [
          {
            "node": "Set User Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge results": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Triggered by Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Available SKUs": {
      "main": [
        [
          {
            "node": "Resolve SKU ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google - Create User": {
      "main": [
        [
          {
            "node": "SDR?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set User Data": {
      "main": [
        [
          {
            "node": "Google - Create User",
            "type": "main",
            "index": 0
          },
          {
            "node": "Microsoft - Create User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for All Branches": {
      "main": [
        [
          {
            "node": "Merge results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve SKU ID": {
      "main": [
        [
          {
            "node": "Assign License",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign License": {
      "main": [
        [
          {
            "node": "Wait for All Branches",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Microsoft - Create User": {
      "main": [
        [
          {
            "node": "License",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Israel?": {
      "main": [
        [
          {
            "node": "Add to IL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait for All Branches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to IL": {
      "main": [
        [
          {
            "node": "Wait for All Branches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Parse HR Email": {
      "main": [
        [
          {
            "node": "Check if Email Exists",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Generate a unique email": {
      "main": [
        [
          {
            "node": "Set User Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Email Exists": {
      "main": [
        [
          {
            "node": "Generate a unique email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "License": {
      "main": [
        [
          {
            "node": "Get Available SKUs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait for All Branches",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Production": {
      "main": [
        [
          {
            "node": "Add user to Production group",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Israel?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Triggered by Email": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SDR?": {
      "main": [
        [
          {
            "node": "Add user to SDR Group",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Production",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add user to SDR Group": {
      "main": [
        [
          {
            "node": "Production",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add user to Production group": {
      "main": [
        [
          {
            "node": "Israel?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email from Galit or Omer": {
      "main": [
        [
          {
            "node": "Parse HR Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "49315fb4-6580-48b2-a71b-d42eeed171a0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "11bedb7e89cd19b5c24ff1651de53a60104659bce78dbeb0a9a7bc0701eecc58"
  },
  "id": "lUUtTTcdEMqMXtWG",
  "tags": []
}